## for loop

In [6]:
nomes_cidades = 'São Paulo, Londres, Tóquio, Paris'
nomes_cidades = nomes_cidades.split(', ')
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [5]:
contador = 0
nomes_cidades = ["São Paulo", "Londres", "Tóquio", "Roma"]
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
Roma

In [7]:
nomes_cidades = "São Paulo", "Londres", "Tóquio", "Roma"
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Roma

In [8]:
cidade = {
    'nome': 'Saõ Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2 
}
for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: Saõ Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [9]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for nome in nomes_cidades:
    nome = 'Rio de Janiero'
print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'Paris']

In [10]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [13]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(0, 10, 3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]

In [4]:
soma = 0

for i in range(1, 4):
    nota = float(input(f'digite a sua nota {i}: '))
    
    soma = soma + nota 

media = soma / 3    
print(f'sua media foi de: {media}')

digite a sua nota 1: 5
digite a sua nota 2: 8
digite a sua nota 3: 6
sua media foi de: 6.333333333333333

In [6]:
lista = [15, 5 ,-12 , 'felipe', True, 14]

for i in range(len(lista)):
    print(lista[i])

15
5
-12
felipe
True
14